<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <title>Welcome!</title>
    <link rel="stylesheet" href="/views/style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alata|Dancing+Script|Nanum+Pen+Script|Quicksand|Source+Serif+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <h1>
            <div class="subtitle">
			<h1 class="ml15">
  <span class="word">Go</span>
  <span class="word">Out</span>
   <span class="word">To</span>
  <span class="word">Eat</span>

</h1>

<h1 class="ml3">한끼라도 제대로 챙겨드셔야죠. </h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="../views/title.js"></script>

			
			
 </div>

            <div class="signup">
                <span class="tab1"> <a href="../views/signin.html"> 시작하기 </a> </span>
            </div>



        </h1>
    </header>
    <section class="about">
        <div class="about-title">
            오늘 저녁은 외식이다!

        </div>
        <div class="about-pages">
            <div>
                <h2 class="abcd"> "외식을 왜 해야 하죠?" </h2>
                <p class="abcd ef">
                   소비자가 외식을 하는 이유는 연령 별, 상권 특성, 지역 특성에 따라 다르게 나타난다. 
통계청의 통계 자료를 토대로, 소비자의 외식동기와 목적을 분석한 결과, 3개 지역 상권의 소비자는 공통적으로 '편리성', '가족원의 요구'를 상대적으로 높게 인식된것으로 조사됐다.

대한창업상권연구원 김혁연구원은 자신의 블러그를 통해 이같은 분석자료를 공개했다.

외식을 하는 동기와 목적은?
소비자가 외식을 하는 이유는?
상권에 따른 지역특성과 연령별 외식 동기에 대한 인식 차이?
지역 상권 별 외식 동기와 외식 목적은 무엇일까? <출처 MNB 뉴스>
                </p>
            </div>
            <div>
                <h3 class="abcd"> "당신은 외식을 많이 하고 있나요?"</h3>
                <p class="abcd ef">
                    이번 달도 음식값만 100만원이 나갔다구요? 이 정도면 너무 많이 외식하는거 아닌가 걱정하고 계신가요? 안심하세요. 당신보다 더한 사람들이
			여기 살고 있습니다. 치킨 좋아하는 친구, 피자 좋아하는 친구, 심지어 브로콜리를 좋아하는 친구까지 다 찾을 수 있습니다.
                </p>
            </div>
            <div>
                <h3 class="abcd"> "외식을 해도 거기서 거기라구요?" </h3>
                <p class="abcd ef">
                    입맛이 까다로우시군요. 지금 당장 가입하세요. 학식도 맛있긴 해요.
                </p>
            </div>
            <div>
                <h3 class="abcd"> "죄송합니다." </h3>
                <p class="abcd ef">
                    현재 서비스 지역은 어은동에 한정되있습니다. 내가 사는 곳이 조금 멀다 싶으신 분들은 조용히 뒤로가기를 눌러주세요.
                </p>
            </div>
        </div>
    </section>


    <!---
    <section class="imagesliding">

        <div align="center"> <img src= "/images/logo.jpg" /> </div>


      </section> --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="/views/app.js"></script>
    <footer class="kor">
        <h2 class="abcd ef"> 과도한 외식은 건강에 좋습니다. 상담문의는 cel) 010-0101-0101 tel) 02-012-3456 </h2>
    </footer>


</body>


</html>