<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link rel="stylesheet" href="../views/write.css" />

     <link rel="stylesheet" href="../views/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Alata|Dancing+Script|Nanum+Pen+Script|Quicksand|Source+Serif+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu|Noto+Serif+KR&display=swap" rel="stylesheet">
    </head>
    <script src='https://code.jquery.com/jquery-1.12.3.js'></script>
   <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
   <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" charset="utf-8"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
         <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    
    <body>

        <nav class="nochange">
            <div class="logo">
                <h4> <a href="/api/main">Go-Out-To-Eat</a> </h4>
             </div>

        <ul class="nav-links">
          <li>
                  <a href="/thisweek"> 이번주 맛집 </a>
          </li>
          <li>
                  <a href="#"> 랭킹 </a>
          </li>
           <li>
                  <a href="#"> 친구 </a>
          </li>
           <li>
                  <a href="#"> 인증하기 </a>
           </li>
            <li>
                  <a href="#"> My Info </a>
           </li>
    </ul>

    <div class="burger">
         <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </nav>

    <div class="typechooser">
        <table class="table table-hover">
            <thead class="chooser">
                <th> 양식</th>
                <th> 일식</th>
                <th> 중식</th>
                <th> 한식</th>

            </thead>
        </table>
    </div>
    <div class="howmany">
     <h2 align="center">이번주는 총 5023명이 GO-Out-Eat 하셨습니다!</h2>
        </div>
    
     <div class="container1">
         <table class="table table-hover">
             <thead>
                 <tr>
                     <th> 번호</th>
                     <th> 카테고리</th>
                     <th> 제목</th>
                     <th> 작성자</th>
                     <th> 날짜 </th>
                     <th> 조회수 </th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 <tr>
                     <td>165</td>
                     <td> 양식 </td>
                     <td> 어은동 최고 맛집! 추천해요 ㅠㅠㅠ</td>
                     <td> 김철수</td>
                     <td> 2016.02.02</td>
                     <td> 2 </td>
                 </tr>
                 
             </tbody>
         </table>
            <hr />
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
     </div>

    <div class="writing">
    <div class="write">
           <a href="/thisweek/write">글쓰기</a>
    </div>
    <div class="write">
           <a href="/thisweek/write"> 수정 </a>
    </div>
    <div class="write">
           <a href="/thisweek/write"> 삭제 </a>
    </div>

    </div>


 
 </body>
</html>
