.basic {
	position: absolute;
	top: 50%;
	left: 50%;
}

.container {
	position: absolute;
	left: 275px;
	top: 250px;
}

.logo {
	font-weight: bold;
	font-size: 15px!important;
}

nav a {
	color: paleturquoise;
}

.bg {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 100vh;
	animation: animate 16s ease-in-out infinite;
	background-size: cover;
}

@keyframes animate {
	0%{
		background-image: url(1.jpeg);
	}
	25%{
		background-image: url(2.jpeg);
	}
	50%{
		background-imae: url(3.jpeg);
	}
 }